.gr-container {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gr-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.gr-rules {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  label, input {
    padding: 10px 20px;
    background: var(--lighter-background);
    border-radius: 4px;
  }

  input {
    border: none;
  }
}